








/* NEW UPDATED FORM*/
.ma{
    color: greenyellow;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    width: auto;
    font-size: xx-large;
    margin-bottom:20px ;
    font-family:  -apple-system , Arial, Helvetica, sans-serif;
}
.secondpart{
    display:flex; 
    flex-direction:column;
    line-height: .5px;
}
.mashonga{
    color: greenyellow;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    width: auto;
    font-size: small;
    margin-bottom:20px ;
    font-family:  -apple-system , Arial, Helvetica, sans-serif;
}
.marcoMashonga{
    display: flex;
    color: white;
    font-weight: bold;
}
.moneypreneure{
    font-style: italic;
    font-size: small;
    color: orange;
    font-family: Arial, Helvetica, sans-serif, -apple-system;
}
.marcobar{
    background-color: green;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
a{
    text-decoration: none;
}
.wb{
    border: 1px black solid;
    background-color: black;
    border-radius: 50px;
    width: auto;
    font-family:  -apple-system , Arial, Helvetica, sans-serif;
}
.footer{
    background-color: grey;
    position: relative;
}
#copyright{
    color: white;
}
.links{
    position: fixed;
    bottom: 15px;
    right: 0;
    background-color: white;
    padding-left: 10px ;
}
.links a{
    color: white;
    margin-right:10px;
}
.links a img{
    width:30px;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.marcoM{
    position: absolute;
    font-weight: lighter;
    font-style: normal;
    left: 40%;
    margin-top: 15px;
}

.quote{
    position: absolute;
    left: 20%;
    right: 20%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    bottom: 15%;
    color : white;
    font-size: small;
    font-style: italic;
    font-family: -apple-sytem, arial;
    font-size: x-large;
    animation: 20s text none;
}

@keyframes text {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    50%{
        transform: none;
        opacity: 1;
    }
    100%{
        transform: translateX(1000px);
        opacity: 1;
    }
}

.homePage{
    display: flex;
}


/* courses page*/

.listOfObjectives{
    list-style: circle;
    display: flex;
    flex-direction: column;
    position: static;
    justify-content: start;
    align-items: flex-start;
    margin: 20px;
    line-height:25px;
    color: black;
    font-weight: bold;
}

/* about page*/

.abou{
    margin-left: 25px;
    padding-top: 100px;
    color: white;
}
.registryBtn{
    display: inline-block; 
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background: green;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    transition: .5s;
 }
 .registryBtn:hover{
     border: 1px solid blue; 
     background: greenyellow;
     color: rgb(3, 3, 83);
     
 }



















body{
    margin-bottom: 1000px;
   
}


*{
    margin: 0;
    padding: 0;
    clip-path: stroke-box;
    font-family: garamond;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: green;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,1)), url(img/mm.JPG);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}
.navLinks{
    flex: 1;
    text-align: right;
}
.navLinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navLinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bolder;
}
.navLinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #f44336;
    transition: .5s;
}
.navLinks ul li:hover::after{
    width: 100%;
}
.textBox{
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textBox h1{
  font-size: 62px;  
}
.textBox p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.heroBtn{
   display: inline-block; 
   text-decoration: none;
   color: white;
   border: 1px solid #fff;
   padding: 10px;
   font-size: 18px;
   font-weight: 700;
   background: transparent;
   cursor: pointer;
   position: relative;
   border-radius: 2px;
   transition: .5s;
}
.heroBtn:hover{
    border: 1px solid blue; 
    background: #f44336;
    color: rgb(3, 3, 83);
    
}
 .span{
    /*padding: 1px 3px;*/
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: greenyellow;
    display: flex;
    cursor: pointer;
}
.fSlash{
    transform: translateY(8px) rotate(45deg);
    background-color: greenyellow;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    display: flex;
}
.bSlash{
    transform: translateY(-8px) rotate(-45deg); 
    background-color: greenyellow;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: greenyellow;
    display: flex;
    cursor: pointer;
}
.aSlash{
    opacity: 0;
}
.menu, .close{
    cursor: pointer;
    display: none;
}
.menu{
    padding: 4px;
}





@media(max-width:700px) {
    .textBox h1{
        font-size: 32px;  
      }
      .navLinks{
        position: absolute;
        height: 100vh;
        top: -1000px;
        right: 0;
        width: 100px;
        background-color: green;
        z-index: 2;
        text-align: left;
        transition: .9s;
      }
      .navLinks ul li, .close, .menu{
        display: block;

      }

      ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .marcoMashonga{
        font-size: medium;
    }
    .textBox{
        width: 90%;
    }
    .links a img{
        width:15px;
        margin: 0;
    }
     
}
@media(max-width:430px) {
    .wb{
        background-color: transparent;
    }
     .about{
        display: none;
     }

}
@media(max-height:500px) {
    body{
        text-size-adjust: auto;
    }
    .links{
        background-color: transparent;
        padding-left: 5px ;
        color: white;
    }

}


